body {
    background-image: url(../images/kb-background.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: top;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9cc589;
}

hr {
    height: 1px;
    color: #585858;
    background-color: #585858;
    border: none;
}

.navbar {
    background-color: #585858;
}

.nav-item .nav-link {
    color: #9cc589 !important;
    font-size: 18px;
    font-weight: bold;   
}

.nav-link:hover {
    color: #69acb5 !important;
    font-weight: bolder !important;
}

.active .nav-link {
    color: #d2e673 !important;
}

.dropdown-menu {
    background-color: #585858;
    border-color: whitesmoke;
}

.dropdown-item {
    color: #9cc589;
    font-weight: bolder;
}

.dropdown-menu .dropdown-item:hover {
    color: #69acb5 !important;
    font-weight: bolder !important;
}

.logo-nav {
    height: 45px;
}

.index-jumbotron {
    background: none;
    min-height: 500px;
    padding: 18% 5% 18% 5%;
}

#wd-title {
    font-weight: bolder;
}

#wd-paragraph {
    padding: 5%;
}

.first-letter {
    /* color: #69acb5; */
    font-size: 200%;
}

.footer {
    /* background-color: #585858; */
    font-weight: bolder;
    
    /* position: fixed;
    bottom: 0px; */
    text-align: center;
    height: 42px;
}

.about-jumbotron, .portfolio-jumbotron, .contact-jumbotron, .content-jumbotron {
    background: none;
    min-height: 500px;
    padding: 8% 5% 8% 5%;
}

#about-card {
    max-width: 700px;
    margin: auto;
    background: none;
    padding: 1%;
    border: 1px #585858 solid;    
}

#img-profile {
    max-height: 200px;
    max-width: 190px;
    margin: auto;
}

.card-title {
    font-weight: bold;
}

.green-button {
    font-weight: bold;
    border: 2px #9cc589 solid;
    color: #9cc589;
}

.img-cont {
    padding: 2px;
    margin: 0px;
    border: 1px #585858 solid;
}
.portfolio-img {
    width: 100%; 
    /* max-height: 100%; */
    margin: auto;
}

div.desc {
    background-color: #585858;
    bottom: 40%;
    color: #d2e673;
    font-weight: bold;
    font-size: 12px;
    left: 0;
    /* opacity: 0.5; */
    position: absolute;
    width: 100%;
    text-align: center;
    transition: 1s ease;
    opacity: 0;
}

.hub-link {
    bottom: 5%;
    right: 0;
    /* opacity: 0.5; */
    position: absolute;
    color: #d2e673;
    width: 100%;
    text-align: right;
    transition: 1s ease;
    opacity: 0;
    margin-right: 10px;
}

.img-cont:hover .desc, .hub-link{
    opacity: 1;

}

.fix{
    width: 100%;
    padding: 0px;
}

#nav-message-tab, #nav-manager-tab, #message-name, #projects-header{
    color: #69acb5;
    font-weight: bold;
}

#message-body, #message-mail, #name-label, #url-label, #file-label {
    color: #69acb5;
}

#message-mail {
    font-style: italic;
    font-size: smaller;
}

#btn-collapse {
    color: #69acb5;

}